# The actual Makefiles produced
Makefile

# The local aclocal.m4 file
aclocal.m4

# The output of the configure script
config.guess
config.log
config.status
config.sub
config.h

# The configure script itself
configure

# Various scripts used for libtool and the like
install-sh
libtool
ltmain.sh
missing
depcomp
stamp-h1
mkinstalldirs

# Not sure what this one is for
autom4te.cache/*

# Binary files
apps/unode
apps/tnode


!.gitignore

*~
*.lo
*.o
*.exe
*.in
*.m4
*.tar.gz

*/.libs
lib/storage/.libs
*/.deps
lib/storage/.deps
compile

lib/config.h
lib/stamp-h1

*.xml

*.pyc
*.aux
*.toc
*.log
