#---------------------------------------------------------------------#
# U API configuration file                                            #
#                                                                     #
# Leave all parameters commented to use default values                #
#---------------------------------------------------------------------#

#
# Information about remote T node
#

#
# CA certificate file path. Note that T acts as CA for U clients.
#
# t_cert="%%%SYSCONFDIR%%%/libsklog/certs/ca/ca_cert.pem"

#
# T address and port
#
# t_address = "127.0.0.1"
# t_port = 5555

#
# Information about local U node
#

#
# X509 certificate and private key files path
#
# u_cert="%%%SYSCONFDIR%%%/libsklog/certs/u1_cert.pem"
# u_privkey="%%%SYSCONFDIR%%%/libsklog/certs/private/u1_key.pem"

#
# Identificator
#
# u_id="u1.example.com"

#
# Timeout for expiration of logging session initialisation.
# 
# u_timeout = 30 

#
# Max number of log entries for each logging session
#
# logfile_size = 7
