#---------------------------------------------------------------------#
# T API configuration file                                            #
#                                                                     #
# Leave all parameters commented to use default values                #
#---------------------------------------------------------------------#

#
# X509 certificate and private key files path
#
# t_cert="%%%SYSCONFDIR%%%/libsklog/certs/ca/ca_cert.pem"
# t_privkey="%%%SYSCONFDIR%%%/libsklog/certs/private/ca_key.pem"
# t_privkey_passphrase="123456"

#
# Bindings
#
# t_address = "127.0.0.1"
# t_port = 5555

#
# Identificator
#
# t_id = "t.example.com"
